.calculator {
    width: 260px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: #7fb3d5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.calc-input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 24px;
    padding: 5px 10px ;
    font-weight: bold;
    margin-left: -11px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color:#1F618D;
    color: #fff;
}

.calc-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    color:white;
    background-color:#1F618D;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .clear-btn:hover {
    background-color: #5D6D7E;
}

.clear-btn {
    grid-column: span 4;
    background-color: #1F618D;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
}


